.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.container--padded {
  padding-right: 32px;
  padding-left: 32px;
}
.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-right: -8px;
  margin-left: -8px;
}
.row--dir-col {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row--dir-reverse-row {
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row--dir-reverse-col {
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
[class^=col--] {
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
.row--no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.col--no-gutter {
  padding-left: 0;
  padding-right: 0;
}
.row--xs-start {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.row--xs-center {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row--xs-end {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.row--xs-top {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
}
.row--xs-bottom {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end;
}
.row--xs-middle {
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
.row--xs-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.row--xs-between {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col--xs {
  max-width: 100%;
}
.col--1,
.col--xs-1 {
  -webkit-flex-basis: 8.333333%;
      -ms-flex-preferred-size: 8.333333%;
          flex-basis: 8.333333%;
  max-width: 8.333333%;
}
.col--2,
.col--xs-2 {
  -webkit-flex-basis: 16.666667%;
      -ms-flex-preferred-size: 16.666667%;
          flex-basis: 16.666667%;
  max-width: 16.666667%;
}
.col--3,
.col--xs-3 {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%;
}
.col--4,
.col--xs-4 {
  -webkit-flex-basis: 33.333333%;
      -ms-flex-preferred-size: 33.333333%;
          flex-basis: 33.333333%;
  max-width: 33.333333%;
}
.col--5,
.col--xs-5 {
  -webkit-flex-basis: 41.666667%;
      -ms-flex-preferred-size: 41.666667%;
          flex-basis: 41.666667%;
  max-width: 41.666667%;
}
.col--6,
.col--xs-6 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
}
.col--7,
.col--xs-7 {
  -webkit-flex-basis: 58.333333%;
      -ms-flex-preferred-size: 58.333333%;
          flex-basis: 58.333333%;
  max-width: 58.333333%;
}
.col--8,
.col--xs-8 {
  -webkit-flex-basis: 66.666667%;
      -ms-flex-preferred-size: 66.666667%;
          flex-basis: 66.666667%;
  max-width: 66.666667%;
}
.col--9,
.col--xs-9 {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%;
}
.col--10,
.col--xs-10 {
  -webkit-flex-basis: 83.333333%;
      -ms-flex-preferred-size: 83.333333%;
          flex-basis: 83.333333%;
  max-width: 83.333333%;
}
.col--11,
.col--xs-11 {
  -webkit-flex-basis: 91.666667%;
      -ms-flex-preferred-size: 91.666667%;
          flex-basis: 91.666667%;
  max-width: 91.666667%;
}
.col--12,
.col--xs-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
.col--auto,
.col--xs-auto {
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
  max-width: 100%;
}

.col--xs-offset-1 {
  margin-left: 8.333333%;
}
.row--dir-reverse-col .col--xs-offset-1 {
  margin-left: initial;
  margin-top: 8.333333%;
}
.col--xs-offset-2 {
  margin-left: 16.666667%;
}
.row--dir-reverse-col .col--xs-offset-2 {
  margin-left: initial;
  margin-top: 16.666667%;
}
.col--xs-offset-3 {
  margin-left: 25%;
}
.row--dir-reverse-col .col--xs-offset-3 {
  margin-left: initial;
  margin-top: 25%;
}
.col--xs-offset-4 {
  margin-left: 33.333333%;
}
.row--dir-reverse-col .col--xs-offset-4 {
  margin-left: initial;
  margin-top: 33.333333%;
}
.col--xs-offset-5 {
  margin-left: 41.666667%;
}
.row--dir-reverse-col .col--xs-offset-5 {
  margin-left: initial;
  margin-top: 41.666667%;
}
.col--xs-offset-6 {
  margin-left: 50%;
}
.row--dir-reverse-col .col--xs-offset-6 {
  margin-left: initial;
  margin-top: 50%;
}
.col--xs-offset-7 {
  margin-left: 58.333333%;
}
.row--dir-reverse-col .col--xs-offset-7 {
  margin-left: initial;
  margin-top: 58.333333%;
}
.col--xs-offset-8 {
  margin-left: 66.666667%;
}
.row--dir-reverse-col .col--xs-offset-8 {
  margin-left: initial;
  margin-top: 66.666667%;
}
.col--xs-offset-9 {
  margin-left: 75%;
}
.row--dir-reverse-col .col--xs-offset-9 {
  margin-left: initial;
  margin-top: 75%;
}
.col--xs-offset-10 {
  margin-left: 83.333333%;
}
.row--dir-reverse-col .col--xs-offset-10 {
  margin-left: initial;
  margin-top: 83.333333%;
}
.col--xs-offset-11 {
  margin-left: 91.666667%;
}
.row--dir-reverse-col .col--xs-offset-11 {
  margin-left: initial;
  margin-top: 91.666667%;
}
.col--xs-first {
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
.col--xs-last {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.col--xs-start {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
.col--xs-middle {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.col--xs-end {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.txt--xs-left {
  text-align: left;
}
.txt--xs-center {
  text-align: center;
}
.txt--xs-right {
  text-align: right;
}
@media (min-width: 767px) {
  .container {
    max-width: 740px;
  }
  .row--sm-start {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row--sm-center {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row--sm-end {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row--sm-top {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
  }
  .row--sm-bottom {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
  }
  .row--sm-middle {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  .row--sm-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .row--sm-between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .col--sm {
    max-width: 100%;
  }
  .col--sm-1 {
    -webkit-flex-basis: 8.333333%;
        -ms-flex-preferred-size: 8.333333%;
            flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  .col--sm-2 {
    -webkit-flex-basis: 16.666667%;
        -ms-flex-preferred-size: 16.666667%;
            flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  .col--sm-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .col--sm-4 {
    -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
            flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .col--sm-5 {
    -webkit-flex-basis: 41.666667%;
        -ms-flex-preferred-size: 41.666667%;
            flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  .col--sm-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .col--sm-7 {
    -webkit-flex-basis: 58.333333%;
        -ms-flex-preferred-size: 58.333333%;
            flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  .col--sm-8 {
    -webkit-flex-basis: 66.666667%;
        -ms-flex-preferred-size: 66.666667%;
            flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .col--sm-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .col--sm-10 {
    -webkit-flex-basis: 83.333333%;
        -ms-flex-preferred-size: 83.333333%;
            flex-basis: 83.333333%;
    max-width: 83.333333%;
  }
  .col--sm-11 {
    -webkit-flex-basis: 91.666667%;
        -ms-flex-preferred-size: 91.666667%;
            flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  .col--sm-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  .col--sm-auto {
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
    max-width: 100%;
  }
  .col--sm-offset-1 {
    margin-left: 8.333333%;
  }
  .row--dir-reverse-col .col--sm-offset-1 {
    margin-left: initial;
    margin-top: 8.333333%;
  }
  .col--sm-offset-2 {
    margin-left: 16.666667%;
  }
  .row--dir-reverse-col .col--sm-offset-2 {
    margin-left: initial;
    margin-top: 16.666667%;
  }
  .col--sm-offset-3 {
    margin-left: 25%;
  }
  .row--dir-reverse-col .col--sm-offset-3 {
    margin-left: initial;
    margin-top: 25%;
  }
  .col--sm-offset-4 {
    margin-left: 33.333333%;
  }
  .row--dir-reverse-col .col--sm-offset-4 {
    margin-left: initial;
    margin-top: 33.333333%;
  }
  .col--sm-offset-5 {
    margin-left: 41.666667%;
  }
  .row--dir-reverse-col .col--sm-offset-5 {
    margin-left: initial;
    margin-top: 41.666667%;
  }
  .col--sm-offset-6 {
    margin-left: 50%;
  }
  .row--dir-reverse-col .col--sm-offset-6 {
    margin-left: initial;
    margin-top: 50%;
  }
  .col--sm-offset-7 {
    margin-left: 58.333333%;
  }
  .row--dir-reverse-col .col--sm-offset-7 {
    margin-left: initial;
    margin-top: 58.333333%;
  }
  .col--sm-offset-8 {
    margin-left: 66.666667%;
  }
  .row--dir-reverse-col .col--sm-offset-8 {
    margin-left: initial;
    margin-top: 66.666667%;
  }
  .col--sm-offset-9 {
    margin-left: 75%;
  }
  .row--dir-reverse-col .col--sm-offset-9 {
    margin-left: initial;
    margin-top: 75%;
  }
  .col--sm-offset-10 {
    margin-left: 83.333333%;
  }
  .row--dir-reverse-col .col--sm-offset-10 {
    margin-left: initial;
    margin-top: 83.333333%;
  }
  .col--sm-offset-11 {
    margin-left: 91.666667%;
  }
  .row--dir-reverse-col .col--sm-offset-11 {
    margin-left: initial;
    margin-top: 91.666667%;
  }
  .col--sm-first {
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .col--sm-last {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .col--sm-start {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .col--sm-middle {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .col--sm-end {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .txt--sm-left {
    text-align: left;
  }
  .txt--sm-center {
    text-align: center;
  }
  .txt--sm-right {
    text-align: right;
  }
}
@media (min-width: 991px) {
  .container {
    max-width: 960px;
  }
  .row--md-start {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row--md-center {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row--md-end {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row--md-top {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
  }
  .row--md-bottom {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
  }
  .row--md-middle {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  .row--md-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .row--md-between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .col--md {
    max-width: 100%;
  }
  .col--md-1 {
    -webkit-flex-basis: 8.333333%;
        -ms-flex-preferred-size: 8.333333%;
            flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  .col--md-2 {
    -webkit-flex-basis: 16.666667%;
        -ms-flex-preferred-size: 16.666667%;
            flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  .col--md-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .col--md-4 {
    -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
            flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .col--md-5 {
    -webkit-flex-basis: 41.666667%;
        -ms-flex-preferred-size: 41.666667%;
            flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  .col--md-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .col--md-7 {
    -webkit-flex-basis: 58.333333%;
        -ms-flex-preferred-size: 58.333333%;
            flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  .col--md-8 {
    -webkit-flex-basis: 66.666667%;
        -ms-flex-preferred-size: 66.666667%;
            flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .col--md-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .col--md-10 {
    -webkit-flex-basis: 83.333333%;
        -ms-flex-preferred-size: 83.333333%;
            flex-basis: 83.333333%;
    max-width: 83.333333%;
  }
  .col--md-11 {
    -webkit-flex-basis: 91.666667%;
        -ms-flex-preferred-size: 91.666667%;
            flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  .col--md-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  .col--md-auto {
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
    max-width: 100%;
  }
  .col--md-offset-1 {
    margin-left: 8.333333%;
  }
  .row--dir-reverse-col .col--md-offset-1 {
    margin-left: initial;
    margin-top: 8.333333%;
  }
  .col--md-offset-2 {
    margin-left: 16.666667%;
  }
  .row--dir-reverse-col .col--md-offset-2 {
    margin-left: initial;
    margin-top: 16.666667%;
  }
  .col--md-offset-3 {
    margin-left: 25%;
  }
  .row--dir-reverse-col .col--md-offset-3 {
    margin-left: initial;
    margin-top: 25%;
  }
  .col--md-offset-4 {
    margin-left: 33.333333%;
  }
  .row--dir-reverse-col .col--md-offset-4 {
    margin-left: initial;
    margin-top: 33.333333%;
  }
  .col--md-offset-5 {
    margin-left: 41.666667%;
  }
  .row--dir-reverse-col .col--md-offset-5 {
    margin-left: initial;
    margin-top: 41.666667%;
  }
  .col--md-offset-6 {
    margin-left: 50%;
  }
  .row--dir-reverse-col .col--md-offset-6 {
    margin-left: initial;
    margin-top: 50%;
  }
  .col--md-offset-7 {
    margin-left: 58.333333%;
  }
  .row--dir-reverse-col .col--md-offset-7 {
    margin-left: initial;
    margin-top: 58.333333%;
  }
  .col--md-offset-8 {
    margin-left: 66.666667%;
  }
  .row--dir-reverse-col .col--md-offset-8 {
    margin-left: initial;
    margin-top: 66.666667%;
  }
  .col--md-offset-9 {
    margin-left: 75%;
  }
  .row--dir-reverse-col .col--md-offset-9 {
    margin-left: initial;
    margin-top: 75%;
  }
  .col--md-offset-10 {
    margin-left: 83.333333%;
  }
  .row--dir-reverse-col .col--md-offset-10 {
    margin-left: initial;
    margin-top: 83.333333%;
  }
  .col--md-offset-11 {
    margin-left: 91.666667%;
  }
  .row--dir-reverse-col .col--md-offset-11 {
    margin-left: initial;
    margin-top: 91.666667%;
  }
  .col--md-first {
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .col--md-last {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .col--md-start {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .col--md-middle {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .col--md-end {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .txt--md-left {
    text-align: left;
  }
  .txt--md-center {
    text-align: center;
  }
  .txt--md-right {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .row--lg-start {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row--lg-center {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row--lg-end {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row--lg-top {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
  }
  .row--lg-bottom {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
  }
  .row--lg-middle {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  .row--lg-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .row--lg-between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .col--lg {
    max-width: 100%;
  }
  .col--lg-1 {
    -webkit-flex-basis: 8.333333%;
        -ms-flex-preferred-size: 8.333333%;
            flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  .col--lg-2 {
    -webkit-flex-basis: 16.666667%;
        -ms-flex-preferred-size: 16.666667%;
            flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  .col--lg-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .col--lg-4 {
    -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
            flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .col--lg-5 {
    -webkit-flex-basis: 41.666667%;
        -ms-flex-preferred-size: 41.666667%;
            flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  .col--lg-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .col--lg-7 {
    -webkit-flex-basis: 58.333333%;
        -ms-flex-preferred-size: 58.333333%;
            flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  .col--lg-8 {
    -webkit-flex-basis: 66.666667%;
        -ms-flex-preferred-size: 66.666667%;
            flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .col--lg-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .col--lg-10 {
    -webkit-flex-basis: 83.333333%;
        -ms-flex-preferred-size: 83.333333%;
            flex-basis: 83.333333%;
    max-width: 83.333333%;
  }
  .col--lg-11 {
    -webkit-flex-basis: 91.666667%;
        -ms-flex-preferred-size: 91.666667%;
            flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  .col--lg-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  .col--lg-auto {
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
    max-width: 100%;
  }
  .col--lg-offset-1 {
    margin-left: 8.333333%;
  }
  .row--dir-reverse-col .col--lg-offset-1 {
    margin-left: initial;
    margin-top: 8.333333%;
  }
  .col--lg-offset-2 {
    margin-left: 16.666667%;
  }
  .row--dir-reverse-col .col--lg-offset-2 {
    margin-left: initial;
    margin-top: 16.666667%;
  }
  .col--lg-offset-3 {
    margin-left: 25%;
  }
  .row--dir-reverse-col .col--lg-offset-3 {
    margin-left: initial;
    margin-top: 25%;
  }
  .col--lg-offset-4 {
    margin-left: 33.333333%;
  }
  .row--dir-reverse-col .col--lg-offset-4 {
    margin-left: initial;
    margin-top: 33.333333%;
  }
  .col--lg-offset-5 {
    margin-left: 41.666667%;
  }
  .row--dir-reverse-col .col--lg-offset-5 {
    margin-left: initial;
    margin-top: 41.666667%;
  }
  .col--lg-offset-6 {
    margin-left: 50%;
  }
  .row--dir-reverse-col .col--lg-offset-6 {
    margin-left: initial;
    margin-top: 50%;
  }
  .col--lg-offset-7 {
    margin-left: 58.333333%;
  }
  .row--dir-reverse-col .col--lg-offset-7 {
    margin-left: initial;
    margin-top: 58.333333%;
  }
  .col--lg-offset-8 {
    margin-left: 66.666667%;
  }
  .row--dir-reverse-col .col--lg-offset-8 {
    margin-left: initial;
    margin-top: 66.666667%;
  }
  .col--lg-offset-9 {
    margin-left: 75%;
  }
  .row--dir-reverse-col .col--lg-offset-9 {
    margin-left: initial;
    margin-top: 75%;
  }
  .col--lg-offset-10 {
    margin-left: 83.333333%;
  }
  .row--dir-reverse-col .col--lg-offset-10 {
    margin-left: initial;
    margin-top: 83.333333%;
  }
  .col--lg-offset-11 {
    margin-left: 91.666667%;
  }
  .row--dir-reverse-col .col--lg-offset-11 {
    margin-left: initial;
    margin-top: 91.666667%;
  }
  .col--lg-first {
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .col--lg-last {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .col--lg-start {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .col--lg-middle {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .col--lg-end {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .txt--lg-left {
    text-align: left;
  }
  .txt--lg-center {
    text-align: center;
  }
  .txt--lg-right {
    text-align: right;
  }
}

.row--equal-height > [class^='col--'] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bold-xs {
  font-weight: bold;
}
@media (min-width: 767px) {
  .bold-sm {
    font-weight: bold;
  }
}
@media (min-width: 991px) {
  .bold-md {
    font-weight: bold;
  }
}
@media (min-width: 1200px) {
  .bold-lg {
    font-weight: bold;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .color-xs {
    color: #ffc65d;
    text-decoration: underline;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .color-sm {
    color: #ffc65d;
    text-decoration: underline;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .color-md {
    color: #ffc65d;
    text-decoration: underline;
  }
}
@media (min-width: 1200px) {
  .color-lg {
    color: #ffc65d;
    text-decoration: underline;
  }
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}
main,
li {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}
strong {
  font-weight: bold;
}
a,
button {
  color: inherit;
  transition: 0.3s all ease;
}
a {
  text-decoration: none;
}
button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
:focus {
  outline: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Monospace, sans-serif;
}
h1 {
  font-size: 48px;
  margin-bottom: 10px;
}
h2 {
  font-size: 32px;
  margin-bottom: 10px;
}
h3 {
  margin-top: 30px;
  font-size: 22px;
  margin-bottom: 10px;
}
strong {
  font-weight: bold;
}
section {
  padding: 30px 15px;
}
section.download,
section.title {
  padding: 80px 15px;
}
.section__header {
  margin-bottom: 30px;
  line-height: 1.4;
}
.color--pink {
  color: #ff007a;
}
.bg--pink {
  background-color: #ff007a;
}
.color--purple {
  color: #93648d;
}
.bg--purple {
  background-color: #93648d;
}
.color--green {
  color: #7bc8a4;
}
.bg--green {
  background-color: #7bc8a4;
}
.color--blue {
  color: #4cc3d9;
}
.bg--blue {
  background-color: #4cc3d9;
}
.color--yellow {
  color: #ffc65d;
}
.bg--yellow {
  background-color: #ffc65d;
}
.color--red {
  color: #f16745;
}
.bg--red {
  background-color: #f16745;
}
.color--black {
  color: #404040;
}
.bg--black {
  background-color: #404040;
}
.color--white {
  color: #f5f5f5;
}
.bg--white {
  background-color: #f5f5f5;
}
.color--brown {
  color: #664f36;
}
.bg--brown {
  background-color: #664f36;
}
.color--gray {
  color: #353b42;
}
.bg--gray {
  background-color: #353b42;
}
.col-content {
  width: 100%;
  min-height: 80px;
  margin-bottom: 16px;
  padding: 5px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  word-break: break-all;
}
.col-content span {
  display: block;
  width: 100%;
}
.col-content--noalign {
  text-align: inherit;
}
.col-content--small {
  min-height: 40px;
}
.col-content--big {
  min-height: 160px;
}
.col-content--center {
  text-align: center;
}
.row-wrapper {
  padding: 15px;
  margin-bottom: 32px;
  overflow: hidden;
}
.row-wrapper .col-content {
  margin-bottom: 0;
}
.row-wrapper__title {
  display: block;
  margin-bottom: 10px;
}
.row--vertical {
  min-height: 400px;
}
.row--vertical [col]:not([offset-xs]) {
  margin: 10px 0;
}
pre {
  color: #404040;
  background-color: #f5f5f5;
  border-left: 10px solid #353b42;
  padding: 15px 10px;
  margin-bottom: 15px;
}
small {
  font-size: 12px;
}
.grid.nested .col-content {
  margin-bottom: 0;
}
.nested-col {
  padding: 15px;
}
.config__attr {
  background-color: #f5f5f5;
  padding: 15px;
  line-height: 1.2;
}
.config__attr + .config__attr {
  margin-top: 15px;
}
.config__attr-name {
  display: inline-block;
  background-color: #404040;
  color: #f5f5f5;
  padding: 5px 10px;
  margin-bottom: 4px;
}
.config__attr-default {
  display: inline-block;
  background-color: #93648d;
  color: #f5f5f5;
  padding: 5px 10px;
  margin-bottom: 4px;
}
.download-links a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f16745;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 18px;
}
.download-links a:hover {
  background-color: #93648d;
}
