@import "src/wrapper.styl"

rolleiflex.useRem = false
rolleiflex.autoBorderBox = false

_colors = {
	"pink": #FF007A,
	"purple": #93648D,
	"green": #7BC8A4,
	"blue": #4CC3D9,
	"yellow": #FFC65D,
	"red": #F16745,
	"black": #404040,
	"white": whitesmoke,
	"brown": #664F36,
	"gray": #353B42
}

buildRolleiflex()

responsiveBold(scaleName)
	.bold\\@{scaleName}
		font-weight bold

responsiveColor(scaleName)
	.color-{scaleName}
		color: _colors.yellow
		text-decoration underline

responsiveBold("xs")

@media (min-width: _rUnit(rolleiflex.breakpoints.sm.breakpoint))
	responsiveBold("sm")

@media (min-width: _rUnit(rolleiflex.breakpoints.md.breakpoint))
	responsiveBold("md")

@media (min-width: _rUnit(rolleiflex.breakpoints.lg.breakpoint))
	responsiveBold("lg")

@media (min-width: _rUnit(rolleiflex.breakpoints.xs.breakpoint)) and (max-width: _rUnit(rolleiflex.breakpoints.sm.breakpoint))
	responsiveColor("xs")

@media (min-width: _rUnit(rolleiflex.breakpoints.sm.breakpoint)) and (max-width: _rUnit(rolleiflex.breakpoints.md.breakpoint))
	responsiveColor("sm")

@media (min-width: _rUnit(rolleiflex.breakpoints.md.breakpoint)) and (max-width: _rUnit(rolleiflex.breakpoints.lg.breakpoint))
	responsiveColor("md")

@media (min-width: _rUnit(rolleiflex.breakpoints.lg.breakpoint))
	responsiveColor("lg")

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
	font: 16px/1 sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
	margin: 0;
	padding: 0;
}
main,
li {
	display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
}
strong { font-weight: bold; }
a,
button {
	color: inherit;
	transition: .3s all ease;
}
a {
	text-decoration: none;
}
button {
	overflow: visible;
	border: 0;
	font: inherit;
	-webkit-font-smoothing: inherit;
	letter-spacing: inherit;
	background: none;
	cursor: pointer;
}
::-moz-focus-inner {
	padding: 0;
	border: 0;
}
:focus {
	outline: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}

*
	box-sizing border-box

body
	font-family Monospace, sans-serif

h1
	font-size 48px
	margin-bottom 10px

h2
	font-size 32px
	margin-bottom 10px

h3
	margin-top 30px
	font-size 22px
	margin-bottom 10px

section
	padding 30px 15px

	&.download
	&.title
		padding 80px 15px


.section__header
	margin-bottom 30px
	line-height 1.4

for color, hex in _colors
	.color--{color}
		color hex

	.bg--{color}
		background-color hex

.col-content
	width 100%
	min-height 80px
	margin-bottom: _rUnit(rolleiflex.spaces.gutter)
	padding 5px
	align-items center
	justify-content center
	font-size 14px
	display flex
	flex-wrap wrap
	word-break break-all

	span
		display block
		width 100%

	&--noalign
		text-align inherit

	&--small
		min-height 40px

	&--big
		min-height 160px

	&--center
		text-align center

.row-wrapper
	padding 15px
	margin-bottom: _rUnit(rolleiflex.spaces.gutter*2)
	overflow hidden
	.col-content
		margin-bottom 0

	&__title
		display block
		margin-bottom 10px
		font-weight: bold;
		
		&--no-mg
			margin-bottom 0
			
[row='vertical']
.row--dir-col
.row--dir-reverse-col
	height 400px

pre
	color: _colors.black
	background-color: _colors.white
	border-left: 10px solid _colors.gray
	padding 15px 10px
	margin-bottom 15px

small
	font-size 12px

.grid.nested
	.col-content
		margin-bottom 0

.nested-col
	padding 15px

.config__attr
	background-color: _colors.white
	padding 15px
	line-height 1.2

	+ .config__attr
		margin-top 15px

.config__attr-name
	display inline-block
	background-color: _colors.black
	color: _colors.white
	padding 5px 10px
	margin-bottom 4px

.config__attr-default
	display inline-block
	background-color: _colors.purple
	color: _colors.white
	padding 5px 10px
	margin-bottom 4px

.download-links
	a
		display inline-block
		padding 8px 16px
		background-color: _colors.red
		color: _colors.white
		text-decoration none
		font-size 18px

		&:hover
			background-color: _colors.purple

.row--wrapped
	min-height: 300px;
	.col
		margin: 15px 0;
