max-width 100% {
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.container--padded {
  padding-right: 2rem;
  padding-left: 2rem;
}
[row] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
[row='vertical'] {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
[row-reverse] {
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
[row-reverse][row='vertical'] {
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
[col] {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}
[row][align-xs='start'] {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
[row][align-xs='center'] {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
[row][align-xs='end'] {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
[position-xs='top'] {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
}
[position-xs='bottom'] {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end;
}
[position-xs='middle'] {
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
[space-xs='around'] {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
[space-xs='between'] {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
[size='1'],
[size-xs='1'] {
  -webkit-flex-basis: 8.333333%;
      -ms-flex-preferred-size: 8.333333%;
          flex-basis: 8.333333%;
  max-width: 8.333333%;
}
[size='2'],
[size-xs='2'] {
  -webkit-flex-basis: 16.666667%;
      -ms-flex-preferred-size: 16.666667%;
          flex-basis: 16.666667%;
  max-width: 16.666667%;
}
[size='3'],
[size-xs='3'] {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%;
}
[size='4'],
[size-xs='4'] {
  -webkit-flex-basis: 33.333333%;
      -ms-flex-preferred-size: 33.333333%;
          flex-basis: 33.333333%;
  max-width: 33.333333%;
}
[size='5'],
[size-xs='5'] {
  -webkit-flex-basis: 41.666667%;
      -ms-flex-preferred-size: 41.666667%;
          flex-basis: 41.666667%;
  max-width: 41.666667%;
}
[size='6'],
[size-xs='6'] {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
}
[size='7'],
[size-xs='7'] {
  -webkit-flex-basis: 58.333333%;
      -ms-flex-preferred-size: 58.333333%;
          flex-basis: 58.333333%;
  max-width: 58.333333%;
}
[size='8'],
[size-xs='8'] {
  -webkit-flex-basis: 66.666667%;
      -ms-flex-preferred-size: 66.666667%;
          flex-basis: 66.666667%;
  max-width: 66.666667%;
}
[size='9'],
[size-xs='9'] {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%;
}
[size='10'],
[size-xs='10'] {
  -webkit-flex-basis: 83.333333%;
      -ms-flex-preferred-size: 83.333333%;
          flex-basis: 83.333333%;
  max-width: 83.333333%;
}
[size='11'],
[size-xs='11'] {
  -webkit-flex-basis: 91.666667%;
      -ms-flex-preferred-size: 91.666667%;
          flex-basis: 91.666667%;
  max-width: 91.666667%;
}
[size='12'],
[size-xs='12'] {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
/* Columns Offset helpers */
[offset-xs='1'] {
  margin-left: 8.333333%;
}
[row='vertical'] [offset-xs='1'] {
  margin-left: initial;
  margin-top: 8.333333%;
}
[offset-xs='2'] {
  margin-left: 16.666667%;
}
[row='vertical'] [offset-xs='2'] {
  margin-left: initial;
  margin-top: 16.666667%;
}
[offset-xs='3'] {
  margin-left: 25%;
}
[row='vertical'] [offset-xs='3'] {
  margin-left: initial;
  margin-top: 25%;
}
[offset-xs='4'] {
  margin-left: 33.333333%;
}
[row='vertical'] [offset-xs='4'] {
  margin-left: initial;
  margin-top: 33.333333%;
}
[offset-xs='5'] {
  margin-left: 41.666667%;
}
[row='vertical'] [offset-xs='5'] {
  margin-left: initial;
  margin-top: 41.666667%;
}
[offset-xs='6'] {
  margin-left: 50%;
}
[row='vertical'] [offset-xs='6'] {
  margin-left: initial;
  margin-top: 50%;
}
[offset-xs='7'] {
  margin-left: 58.333333%;
}
[row='vertical'] [offset-xs='7'] {
  margin-left: initial;
  margin-top: 58.333333%;
}
[offset-xs='8'] {
  margin-left: 66.666667%;
}
[row='vertical'] [offset-xs='8'] {
  margin-left: initial;
  margin-top: 66.666667%;
}
[offset-xs='9'] {
  margin-left: 75%;
}
[row='vertical'] [offset-xs='9'] {
  margin-left: initial;
  margin-top: 75%;
}
[offset-xs='10'] {
  margin-left: 83.333333%;
}
[row='vertical'] [offset-xs='10'] {
  margin-left: initial;
  margin-top: 83.333333%;
}
[offset-xs='11'] {
  margin-left: 91.666667%;
}
[row='vertical'] [offset-xs='11'] {
  margin-left: initial;
  margin-top: 91.666667%;
}
[order-xs='first'] {
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
[order-xs='last'] {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
[col][align-xs='start'] {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
[col][align-xs='middle'] {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
[col][align-xs='end'] {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
/* Text alignment helpers */
.txt--xs-left {
  text-align: left;
}
.txt--xs-center {
  text-align: center;
}
.txt--xs-right {
  text-align: right;
}
@media (min-width: 47.9375rem) {
  .container {
    max-width: 46.25rem;
  }
  [row][align-sm='start'] {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  [row][align-sm='center'] {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  [row][align-sm='end'] {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  [position-sm='top'] {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
  }
  [position-sm='bottom'] {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
  }
  [position-sm='middle'] {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  [space-sm='around'] {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  [space-sm='between'] {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  [size-sm='1'] {
    -webkit-flex-basis: 8.333333%;
        -ms-flex-preferred-size: 8.333333%;
            flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  [size-sm='2'] {
    -webkit-flex-basis: 16.666667%;
        -ms-flex-preferred-size: 16.666667%;
            flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  [size-sm='3'] {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  [size-sm='4'] {
    -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
            flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  [size-sm='5'] {
    -webkit-flex-basis: 41.666667%;
        -ms-flex-preferred-size: 41.666667%;
            flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  [size-sm='6'] {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  [size-sm='7'] {
    -webkit-flex-basis: 58.333333%;
        -ms-flex-preferred-size: 58.333333%;
            flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  [size-sm='8'] {
    -webkit-flex-basis: 66.666667%;
        -ms-flex-preferred-size: 66.666667%;
            flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  [size-sm='9'] {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  [size-sm='10'] {
    -webkit-flex-basis: 83.333333%;
        -ms-flex-preferred-size: 83.333333%;
            flex-basis: 83.333333%;
    max-width: 83.333333%;
  }
  [size-sm='11'] {
    -webkit-flex-basis: 91.666667%;
        -ms-flex-preferred-size: 91.666667%;
            flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  [size-sm='12'] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  [offset-sm='1'] {
    margin-left: 8.333333%;
  }
  [row='vertical'] [offset-sm='1'] {
    margin-left: initial;
    margin-top: 8.333333%;
  }
  [offset-sm='2'] {
    margin-left: 16.666667%;
  }
  [row='vertical'] [offset-sm='2'] {
    margin-left: initial;
    margin-top: 16.666667%;
  }
  [offset-sm='3'] {
    margin-left: 25%;
  }
  [row='vertical'] [offset-sm='3'] {
    margin-left: initial;
    margin-top: 25%;
  }
  [offset-sm='4'] {
    margin-left: 33.333333%;
  }
  [row='vertical'] [offset-sm='4'] {
    margin-left: initial;
    margin-top: 33.333333%;
  }
  [offset-sm='5'] {
    margin-left: 41.666667%;
  }
  [row='vertical'] [offset-sm='5'] {
    margin-left: initial;
    margin-top: 41.666667%;
  }
  [offset-sm='6'] {
    margin-left: 50%;
  }
  [row='vertical'] [offset-sm='6'] {
    margin-left: initial;
    margin-top: 50%;
  }
  [offset-sm='7'] {
    margin-left: 58.333333%;
  }
  [row='vertical'] [offset-sm='7'] {
    margin-left: initial;
    margin-top: 58.333333%;
  }
  [offset-sm='8'] {
    margin-left: 66.666667%;
  }
  [row='vertical'] [offset-sm='8'] {
    margin-left: initial;
    margin-top: 66.666667%;
  }
  [offset-sm='9'] {
    margin-left: 75%;
  }
  [row='vertical'] [offset-sm='9'] {
    margin-left: initial;
    margin-top: 75%;
  }
  [offset-sm='10'] {
    margin-left: 83.333333%;
  }
  [row='vertical'] [offset-sm='10'] {
    margin-left: initial;
    margin-top: 83.333333%;
  }
  [offset-sm='11'] {
    margin-left: 91.666667%;
  }
  [row='vertical'] [offset-sm='11'] {
    margin-left: initial;
    margin-top: 91.666667%;
  }
  [order-sm='first'] {
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  [order-sm='last'] {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  [col][align-sm='start'] {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  [col][align-sm='middle'] {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  [col][align-sm='end'] {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .txt--sm-left {
    text-align: left;
  }
  .txt--sm-center {
    text-align: center;
  }
  .txt--sm-right {
    text-align: right;
  }
}
@media (min-width: 61.9375rem) {
  .container {
    max-width: 60rem;
  }
  [row][align-md='start'] {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  [row][align-md='center'] {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  [row][align-md='end'] {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  [position-md='top'] {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
  }
  [position-md='bottom'] {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
  }
  [position-md='middle'] {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  [space-md='around'] {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  [space-md='between'] {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  [size-md='1'] {
    -webkit-flex-basis: 8.333333%;
        -ms-flex-preferred-size: 8.333333%;
            flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  [size-md='2'] {
    -webkit-flex-basis: 16.666667%;
        -ms-flex-preferred-size: 16.666667%;
            flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  [size-md='3'] {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  [size-md='4'] {
    -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
            flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  [size-md='5'] {
    -webkit-flex-basis: 41.666667%;
        -ms-flex-preferred-size: 41.666667%;
            flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  [size-md='6'] {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  [size-md='7'] {
    -webkit-flex-basis: 58.333333%;
        -ms-flex-preferred-size: 58.333333%;
            flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  [size-md='8'] {
    -webkit-flex-basis: 66.666667%;
        -ms-flex-preferred-size: 66.666667%;
            flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  [size-md='9'] {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  [size-md='10'] {
    -webkit-flex-basis: 83.333333%;
        -ms-flex-preferred-size: 83.333333%;
            flex-basis: 83.333333%;
    max-width: 83.333333%;
  }
  [size-md='11'] {
    -webkit-flex-basis: 91.666667%;
        -ms-flex-preferred-size: 91.666667%;
            flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  [size-md='12'] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  [offset-md='1'] {
    margin-left: 8.333333%;
  }
  [row='vertical'] [offset-md='1'] {
    margin-left: initial;
    margin-top: 8.333333%;
  }
  [offset-md='2'] {
    margin-left: 16.666667%;
  }
  [row='vertical'] [offset-md='2'] {
    margin-left: initial;
    margin-top: 16.666667%;
  }
  [offset-md='3'] {
    margin-left: 25%;
  }
  [row='vertical'] [offset-md='3'] {
    margin-left: initial;
    margin-top: 25%;
  }
  [offset-md='4'] {
    margin-left: 33.333333%;
  }
  [row='vertical'] [offset-md='4'] {
    margin-left: initial;
    margin-top: 33.333333%;
  }
  [offset-md='5'] {
    margin-left: 41.666667%;
  }
  [row='vertical'] [offset-md='5'] {
    margin-left: initial;
    margin-top: 41.666667%;
  }
  [offset-md='6'] {
    margin-left: 50%;
  }
  [row='vertical'] [offset-md='6'] {
    margin-left: initial;
    margin-top: 50%;
  }
  [offset-md='7'] {
    margin-left: 58.333333%;
  }
  [row='vertical'] [offset-md='7'] {
    margin-left: initial;
    margin-top: 58.333333%;
  }
  [offset-md='8'] {
    margin-left: 66.666667%;
  }
  [row='vertical'] [offset-md='8'] {
    margin-left: initial;
    margin-top: 66.666667%;
  }
  [offset-md='9'] {
    margin-left: 75%;
  }
  [row='vertical'] [offset-md='9'] {
    margin-left: initial;
    margin-top: 75%;
  }
  [offset-md='10'] {
    margin-left: 83.333333%;
  }
  [row='vertical'] [offset-md='10'] {
    margin-left: initial;
    margin-top: 83.333333%;
  }
  [offset-md='11'] {
    margin-left: 91.666667%;
  }
  [row='vertical'] [offset-md='11'] {
    margin-left: initial;
    margin-top: 91.666667%;
  }
  [order-md='first'] {
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  [order-md='last'] {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  [col][align-md='start'] {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  [col][align-md='middle'] {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  [col][align-md='end'] {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .txt--md-left {
    text-align: left;
  }
  .txt--md-center {
    text-align: center;
  }
  .txt--md-right {
    text-align: right;
  }
}
@media (min-width: 75rem) {
  .container {
    max-width: 71.25rem;
  }
  [row][align-lg='start'] {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  [row][align-lg='center'] {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  [row][align-lg='end'] {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  [position-lg='top'] {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
  }
  [position-lg='bottom'] {
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
  }
  [position-lg='middle'] {
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  [space-lg='around'] {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  [space-lg='between'] {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  [size-lg='1'] {
    -webkit-flex-basis: 8.333333%;
        -ms-flex-preferred-size: 8.333333%;
            flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  [size-lg='2'] {
    -webkit-flex-basis: 16.666667%;
        -ms-flex-preferred-size: 16.666667%;
            flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  [size-lg='3'] {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  [size-lg='4'] {
    -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
            flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  [size-lg='5'] {
    -webkit-flex-basis: 41.666667%;
        -ms-flex-preferred-size: 41.666667%;
            flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  [size-lg='6'] {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  [size-lg='7'] {
    -webkit-flex-basis: 58.333333%;
        -ms-flex-preferred-size: 58.333333%;
            flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  [size-lg='8'] {
    -webkit-flex-basis: 66.666667%;
        -ms-flex-preferred-size: 66.666667%;
            flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  [size-lg='9'] {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  [size-lg='10'] {
    -webkit-flex-basis: 83.333333%;
        -ms-flex-preferred-size: 83.333333%;
            flex-basis: 83.333333%;
    max-width: 83.333333%;
  }
  [size-lg='11'] {
    -webkit-flex-basis: 91.666667%;
        -ms-flex-preferred-size: 91.666667%;
            flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  [size-lg='12'] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  [offset-lg='1'] {
    margin-left: 8.333333%;
  }
  [row='vertical'] [offset-lg='1'] {
    margin-left: initial;
    margin-top: 8.333333%;
  }
  [offset-lg='2'] {
    margin-left: 16.666667%;
  }
  [row='vertical'] [offset-lg='2'] {
    margin-left: initial;
    margin-top: 16.666667%;
  }
  [offset-lg='3'] {
    margin-left: 25%;
  }
  [row='vertical'] [offset-lg='3'] {
    margin-left: initial;
    margin-top: 25%;
  }
  [offset-lg='4'] {
    margin-left: 33.333333%;
  }
  [row='vertical'] [offset-lg='4'] {
    margin-left: initial;
    margin-top: 33.333333%;
  }
  [offset-lg='5'] {
    margin-left: 41.666667%;
  }
  [row='vertical'] [offset-lg='5'] {
    margin-left: initial;
    margin-top: 41.666667%;
  }
  [offset-lg='6'] {
    margin-left: 50%;
  }
  [row='vertical'] [offset-lg='6'] {
    margin-left: initial;
    margin-top: 50%;
  }
  [offset-lg='7'] {
    margin-left: 58.333333%;
  }
  [row='vertical'] [offset-lg='7'] {
    margin-left: initial;
    margin-top: 58.333333%;
  }
  [offset-lg='8'] {
    margin-left: 66.666667%;
  }
  [row='vertical'] [offset-lg='8'] {
    margin-left: initial;
    margin-top: 66.666667%;
  }
  [offset-lg='9'] {
    margin-left: 75%;
  }
  [row='vertical'] [offset-lg='9'] {
    margin-left: initial;
    margin-top: 75%;
  }
  [offset-lg='10'] {
    margin-left: 83.333333%;
  }
  [row='vertical'] [offset-lg='10'] {
    margin-left: initial;
    margin-top: 83.333333%;
  }
  [offset-lg='11'] {
    margin-left: 91.666667%;
  }
  [row='vertical'] [offset-lg='11'] {
    margin-left: initial;
    margin-top: 91.666667%;
  }
  [order-lg='first'] {
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  [order-lg='last'] {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  [col][align-lg='start'] {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  [col][align-lg='middle'] {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  [col][align-lg='end'] {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .txt--lg-left {
    text-align: left;
  }
  .txt--lg-center {
    text-align: center;
  }
  .txt--lg-right {
    text-align: right;
  }
}
[row-no-gutter] {
  margin-left: 0;
  margin-right: 0;
}
[row-no-gutter] > [col] {
  padding-left: 0;
  padding-right: 0;
}
[row-equal-height] > [col] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bold-xs {
  font-weight: bold;
}
@media (min-width: 47.9375rem) {
  .bold-sm {
    font-weight: bold;
  }
}
@media (min-width: 61.9375rem) {
  .bold-md {
    font-weight: bold;
  }
}
@media (min-width: 75rem) {
  .bold-lg {
    font-weight: bold;
  }
}
@media (min-width: 0rem) and (max-width: 47.9375rem) {
  .color-xs {
    color: #ffc65d;
    text-decoration: underline;
  }
}
@media (min-width: 47.9375rem) and (max-width: 61.9375rem) {
  .color-sm {
    color: #ffc65d;
    text-decoration: underline;
  }
}
@media (min-width: 61.9375rem) and (max-width: 75rem) {
  .color-md {
    color: #ffc65d;
    text-decoration: underline;
  }
}
@media (min-width: 75rem) {
  .color-lg {
    color: #ffc65d;
    text-decoration: underline;
  }
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}
main,
li {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}
strong {
  font-weight: bold;
}
a,
button {
  color: inherit;
  transition: 0.3s all ease;
}
a {
  text-decoration: none;
}
button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
:focus {
  outline: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Monospace, sans-serif;
}
h1 {
  font-size: 48px;
  margin-bottom: 10px;
}
h2 {
  font-size: 32px;
  margin-bottom: 10px;
}
h3 {
  margin-top: 30px;
  font-size: 22px;
  margin-bottom: 10px;
}
strong {
  font-weight: bold;
}
section {
  padding: 30px 15px;
}
section.download,
section.title {
  padding: 80px 15px;
}
.section__header {
  margin-bottom: 30px;
  line-height: 1.4;
}
.color--pink {
  color: #ff007a;
}
.bg--pink {
  background-color: #ff007a;
}
.color--purple {
  color: #93648d;
}
.bg--purple {
  background-color: #93648d;
}
.color--green {
  color: #7bc8a4;
}
.bg--green {
  background-color: #7bc8a4;
}
.color--blue {
  color: #4cc3d9;
}
.bg--blue {
  background-color: #4cc3d9;
}
.color--yellow {
  color: #ffc65d;
}
.bg--yellow {
  background-color: #ffc65d;
}
.color--red {
  color: #f16745;
}
.bg--red {
  background-color: #f16745;
}
.color--black {
  color: #404040;
}
.bg--black {
  background-color: #404040;
}
.color--white {
  color: #f5f5f5;
}
.bg--white {
  background-color: #f5f5f5;
}
.color--brown {
  color: #664f36;
}
.bg--brown {
  background-color: #664f36;
}
.color--gray {
  color: #353b42;
}
.bg--gray {
  background-color: #353b42;
}
.col-content {
  width: 100%;
  min-height: 80px;
  margin-bottom: 1rem;
  padding: 5px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  word-break: break-all;
}
.col-content span {
  display: block;
  width: 100%;
}
.col-content--noalign {
  text-align: inherit;
}
.col-content--small {
  min-height: 40px;
}
.col-content--big {
  min-height: 160px;
}
.col-content--center {
  text-align: center;
}
.row-wrapper {
  padding: 15px;
  margin-bottom: 2rem;
  overflow: hidden;
}
.row-wrapper .col-content {
  margin-bottom: 0;
}
.row-wrapper__title {
  display: block;
  margin-bottom: 10px;
}
.row--vertical {
  min-height: 400px;
}
.row--vertical [col]:not([offset-xs]) {
  margin: 10px 0;
}
pre {
  color: #404040;
  background-color: #f5f5f5;
  border-left: 10px solid #353b42;
  padding: 15px 10px;
  margin-bottom: 15px;
}
small {
  font-size: 12px;
}
.grid.nested .col-content {
  margin-bottom: 0;
}
.nested-col {
  padding: 15px;
}
.config__attr {
  background-color: #f5f5f5;
  padding: 15px;
  line-height: 1.2;
}
.config__attr + .config__attr {
  margin-top: 15px;
}
.config__attr-name {
  display: inline-block;
  background-color: #404040;
  color: #f5f5f5;
  padding: 5px 10px;
  margin-bottom: 4px;
}
.config__attr-default {
  display: inline-block;
  background-color: #93648d;
  color: #f5f5f5;
  padding: 5px 10px;
  margin-bottom: 4px;
}
.download-links a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f16745;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 18px;
}
.download-links a:hover {
  background-color: #93648d;
}
