.container,
.container-fluid {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
}
.h-display-flex,
.row,
.col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.row,
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.col {
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-right: 12px;
  padding-left: 12px;
  max-width: 100%;
}
.row {
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-right: -12px;
  margin-left: -12px;
}
.row.-no-gutter\@xs {
  margin-left: 0;
  margin-right: 0;
}
.row.-no-gutter\@xs > .col {
  padding-left: 0;
  padding-right: 0;
}
.row.-with-gutter\@xs {
  margin-left: -12px;
  margin-right: -12px;
}
.row.-with-gutter\@xs > .col {
  padding-left: 12px;
  padding-right: 12px;
}
.-size\@xs {
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
}
.-size-1\@xs {
  -webkit-flex-basis: 8.333333%;
      -ms-flex-preferred-size: 8.333333%;
          flex-basis: 8.333333%;
  max-width: 8.333333%;
}
.-offset-0\@xs {
  margin-left: 0%;
}
.-size-2\@xs {
  -webkit-flex-basis: 16.666667%;
      -ms-flex-preferred-size: 16.666667%;
          flex-basis: 16.666667%;
  max-width: 16.666667%;
}
.-offset-1\@xs {
  margin-left: 8.333333%;
}
.-size-3\@xs {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%;
}
.-offset-2\@xs {
  margin-left: 16.666667%;
}
.-size-4\@xs {
  -webkit-flex-basis: 33.333333%;
      -ms-flex-preferred-size: 33.333333%;
          flex-basis: 33.333333%;
  max-width: 33.333333%;
}
.-offset-3\@xs {
  margin-left: 25%;
}
.-size-5\@xs {
  -webkit-flex-basis: 41.666667%;
      -ms-flex-preferred-size: 41.666667%;
          flex-basis: 41.666667%;
  max-width: 41.666667%;
}
.-offset-4\@xs {
  margin-left: 33.333333%;
}
.-size-6\@xs {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
}
.-offset-5\@xs {
  margin-left: 41.666667%;
}
.-size-7\@xs {
  -webkit-flex-basis: 58.333333%;
      -ms-flex-preferred-size: 58.333333%;
          flex-basis: 58.333333%;
  max-width: 58.333333%;
}
.-offset-6\@xs {
  margin-left: 50%;
}
.-size-8\@xs {
  -webkit-flex-basis: 66.666667%;
      -ms-flex-preferred-size: 66.666667%;
          flex-basis: 66.666667%;
  max-width: 66.666667%;
}
.-offset-7\@xs {
  margin-left: 58.333333%;
}
.-size-9\@xs {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%;
}
.-offset-8\@xs {
  margin-left: 66.666667%;
}
.-size-10\@xs {
  -webkit-flex-basis: 83.333333%;
      -ms-flex-preferred-size: 83.333333%;
          flex-basis: 83.333333%;
  max-width: 83.333333%;
}
.-offset-9\@xs {
  margin-left: 75%;
}
.-size-11\@xs {
  -webkit-flex-basis: 91.666667%;
      -ms-flex-preferred-size: 91.666667%;
          flex-basis: 91.666667%;
  max-width: 91.666667%;
}
.-offset-10\@xs {
  margin-left: 83.333333%;
}
.-size-12\@xs {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
.-offset-11\@xs {
  margin-left: 91.666667%;
}
@media (min-width: 767px) {
  .container {
    width: 1170px;
  }
  .row.-no-gutter\@sm {
    margin-left: 0;
    margin-right: 0;
  }
  .row.-no-gutter\@sm > .col {
    padding-left: 0;
    padding-right: 0;
  }
  .row.-with-gutter\@sm {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row.-with-gutter\@sm > .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .-size\@sm {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }
  .-size-1\@sm {
    -webkit-flex-basis: 8.333333%;
        -ms-flex-preferred-size: 8.333333%;
            flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  .-offset-0\@sm {
    margin-left: 0%;
  }
  .-size-2\@sm {
    -webkit-flex-basis: 16.666667%;
        -ms-flex-preferred-size: 16.666667%;
            flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  .-offset-1\@sm {
    margin-left: 8.333333%;
  }
  .-size-3\@sm {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .-offset-2\@sm {
    margin-left: 16.666667%;
  }
  .-size-4\@sm {
    -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
            flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .-offset-3\@sm {
    margin-left: 25%;
  }
  .-size-5\@sm {
    -webkit-flex-basis: 41.666667%;
        -ms-flex-preferred-size: 41.666667%;
            flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  .-offset-4\@sm {
    margin-left: 33.333333%;
  }
  .-size-6\@sm {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .-offset-5\@sm {
    margin-left: 41.666667%;
  }
  .-size-7\@sm {
    -webkit-flex-basis: 58.333333%;
        -ms-flex-preferred-size: 58.333333%;
            flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  .-offset-6\@sm {
    margin-left: 50%;
  }
  .-size-8\@sm {
    -webkit-flex-basis: 66.666667%;
        -ms-flex-preferred-size: 66.666667%;
            flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .-offset-7\@sm {
    margin-left: 58.333333%;
  }
  .-size-9\@sm {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .-offset-8\@sm {
    margin-left: 66.666667%;
  }
  .-size-10\@sm {
    -webkit-flex-basis: 83.333333%;
        -ms-flex-preferred-size: 83.333333%;
            flex-basis: 83.333333%;
    max-width: 83.333333%;
  }
  .-offset-9\@sm {
    margin-left: 75%;
  }
  .-size-11\@sm {
    -webkit-flex-basis: 91.666667%;
        -ms-flex-preferred-size: 91.666667%;
            flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  .-offset-10\@sm {
    margin-left: 83.333333%;
  }
  .-size-12\@sm {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  .-offset-11\@sm {
    margin-left: 91.666667%;
  }
}
@media (min-width: 991px) {
  .container {
    width: 1170px;
  }
  .row.-no-gutter\@md {
    margin-left: 0;
    margin-right: 0;
  }
  .row.-no-gutter\@md > .col {
    padding-left: 0;
    padding-right: 0;
  }
  .row.-with-gutter\@md {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row.-with-gutter\@md > .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .-size\@md {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }
  .-size-1\@md {
    -webkit-flex-basis: 8.333333%;
        -ms-flex-preferred-size: 8.333333%;
            flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  .-offset-0\@md {
    margin-left: 0%;
  }
  .-size-2\@md {
    -webkit-flex-basis: 16.666667%;
        -ms-flex-preferred-size: 16.666667%;
            flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  .-offset-1\@md {
    margin-left: 8.333333%;
  }
  .-size-3\@md {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .-offset-2\@md {
    margin-left: 16.666667%;
  }
  .-size-4\@md {
    -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
            flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .-offset-3\@md {
    margin-left: 25%;
  }
  .-size-5\@md {
    -webkit-flex-basis: 41.666667%;
        -ms-flex-preferred-size: 41.666667%;
            flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  .-offset-4\@md {
    margin-left: 33.333333%;
  }
  .-size-6\@md {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .-offset-5\@md {
    margin-left: 41.666667%;
  }
  .-size-7\@md {
    -webkit-flex-basis: 58.333333%;
        -ms-flex-preferred-size: 58.333333%;
            flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  .-offset-6\@md {
    margin-left: 50%;
  }
  .-size-8\@md {
    -webkit-flex-basis: 66.666667%;
        -ms-flex-preferred-size: 66.666667%;
            flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .-offset-7\@md {
    margin-left: 58.333333%;
  }
  .-size-9\@md {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .-offset-8\@md {
    margin-left: 66.666667%;
  }
  .-size-10\@md {
    -webkit-flex-basis: 83.333333%;
        -ms-flex-preferred-size: 83.333333%;
            flex-basis: 83.333333%;
    max-width: 83.333333%;
  }
  .-offset-9\@md {
    margin-left: 75%;
  }
  .-size-11\@md {
    -webkit-flex-basis: 91.666667%;
        -ms-flex-preferred-size: 91.666667%;
            flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  .-offset-10\@md {
    margin-left: 83.333333%;
  }
  .-size-12\@md {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  .-offset-11\@md {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .row.-no-gutter\@lg {
    margin-left: 0;
    margin-right: 0;
  }
  .row.-no-gutter\@lg > .col {
    padding-left: 0;
    padding-right: 0;
  }
  .row.-with-gutter\@lg {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row.-with-gutter\@lg > .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .-size\@lg {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
  }
  .-size-1\@lg {
    -webkit-flex-basis: 8.333333%;
        -ms-flex-preferred-size: 8.333333%;
            flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  .-offset-0\@lg {
    margin-left: 0%;
  }
  .-size-2\@lg {
    -webkit-flex-basis: 16.666667%;
        -ms-flex-preferred-size: 16.666667%;
            flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  .-offset-1\@lg {
    margin-left: 8.333333%;
  }
  .-size-3\@lg {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .-offset-2\@lg {
    margin-left: 16.666667%;
  }
  .-size-4\@lg {
    -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
            flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .-offset-3\@lg {
    margin-left: 25%;
  }
  .-size-5\@lg {
    -webkit-flex-basis: 41.666667%;
        -ms-flex-preferred-size: 41.666667%;
            flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  .-offset-4\@lg {
    margin-left: 33.333333%;
  }
  .-size-6\@lg {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .-offset-5\@lg {
    margin-left: 41.666667%;
  }
  .-size-7\@lg {
    -webkit-flex-basis: 58.333333%;
        -ms-flex-preferred-size: 58.333333%;
            flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  .-offset-6\@lg {
    margin-left: 50%;
  }
  .-size-8\@lg {
    -webkit-flex-basis: 66.666667%;
        -ms-flex-preferred-size: 66.666667%;
            flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .-offset-7\@lg {
    margin-left: 58.333333%;
  }
  .-size-9\@lg {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .-offset-8\@lg {
    margin-left: 66.666667%;
  }
  .-size-10\@lg {
    -webkit-flex-basis: 83.333333%;
        -ms-flex-preferred-size: 83.333333%;
            flex-basis: 83.333333%;
    max-width: 83.333333%;
  }
  .-offset-9\@lg {
    margin-left: 75%;
  }
  .-size-11\@lg {
    -webkit-flex-basis: 91.666667%;
        -ms-flex-preferred-size: 91.666667%;
            flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  .-offset-10\@lg {
    margin-left: 83.333333%;
  }
  .-size-12\@lg {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  .-offset-11\@lg {
    margin-left: 91.666667%;
  }
}
.-justify-start\@xs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.-justify-center\@xs {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.-justify-end\@xs {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.-justify-around\@xs {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.-justify-between\@xs {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.-align-start\@xs {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.-align-center\@xs {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.-align-end\@xs {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.-self-start\@xs {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
.-self-center\@xs {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}
.-self-end\@xs {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.-content-stretch\@xs {
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}
.-content-start\@xs {
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.-content-end\@xs {
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end;
}
.-content-center\@xs {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
.-content-between\@xs {
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
}
.-content-around\@xs {
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
}
.-no-wrap\@xs {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.-with-wrap\@xs {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.-at-first\@xs {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
.-at-last\@xs {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.-grow-none\@xs {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.-shrink-none\@xs {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.-grow-single\@xs {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.-shrink-single\@xs {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.-grow-double\@xs {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.-shrink-double\@xs {
  -webkit-flex-shrink: 2;
      -ms-flex-negative: 2;
          flex-shrink: 2;
}
.-dir-row\@xs {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.-dir-col\@xs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.-dir-row-reverse\@xs {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.-dir-col-reverse\@xs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.h-text-left\@xs {
  text-align: left;
}
.h-text-center\@xs {
  text-align: center;
}
.h-text-right\@xs {
  text-align: right;
}
.h-text-justify\@xs {
  text-align: justify;
}
@media (min-width: 767px) {
  .-justify-start\@sm {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .-justify-center\@sm {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .-justify-end\@sm {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .-justify-around\@sm {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .-justify-between\@sm {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .-align-start\@sm {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .-align-center\@sm {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .-align-end\@sm {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .-self-start\@sm {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .-self-center\@sm {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
  .-self-end\@sm {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .-content-stretch\@sm {
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
  }
  .-content-start\@sm {
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
  .-content-end\@sm {
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
  }
  .-content-center\@sm {
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
  }
  .-content-between\@sm {
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
  }
  .-content-around\@sm {
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
  }
  .-no-wrap\@sm {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .-with-wrap\@sm {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .-at-first\@sm {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .-at-last\@sm {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .-grow-none\@sm {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .-shrink-none\@sm {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .-grow-single\@sm {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .-shrink-single\@sm {
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
  }
  .-grow-double\@sm {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .-shrink-double\@sm {
    -webkit-flex-shrink: 2;
        -ms-flex-negative: 2;
            flex-shrink: 2;
  }
  .-dir-row\@sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .-dir-col\@sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .-dir-row-reverse\@sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .-dir-col-reverse\@sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .h-text-left\@sm {
    text-align: left;
  }
  .h-text-center\@sm {
    text-align: center;
  }
  .h-text-right\@sm {
    text-align: right;
  }
  .h-text-justify\@sm {
    text-align: justify;
  }
}
@media (min-width: 991px) {
  .-justify-start\@md {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .-justify-center\@md {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .-justify-end\@md {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .-justify-around\@md {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .-justify-between\@md {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .-align-start\@md {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .-align-center\@md {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .-align-end\@md {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .-self-start\@md {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .-self-center\@md {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
  .-self-end\@md {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .-content-stretch\@md {
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
  }
  .-content-start\@md {
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
  .-content-end\@md {
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
  }
  .-content-center\@md {
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
  }
  .-content-between\@md {
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
  }
  .-content-around\@md {
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
  }
  .-no-wrap\@md {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .-with-wrap\@md {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .-at-first\@md {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .-at-last\@md {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .-grow-none\@md {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .-shrink-none\@md {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .-grow-single\@md {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .-shrink-single\@md {
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
  }
  .-grow-double\@md {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .-shrink-double\@md {
    -webkit-flex-shrink: 2;
        -ms-flex-negative: 2;
            flex-shrink: 2;
  }
  .-dir-row\@md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .-dir-col\@md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .-dir-row-reverse\@md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .-dir-col-reverse\@md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .h-text-left\@md {
    text-align: left;
  }
  .h-text-center\@md {
    text-align: center;
  }
  .h-text-right\@md {
    text-align: right;
  }
  .h-text-justify\@md {
    text-align: justify;
  }
}
@media (min-width: 1200px) {
  .-justify-start\@lg {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .-justify-center\@lg {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .-justify-end\@lg {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .-justify-around\@lg {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .-justify-between\@lg {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .-align-start\@lg {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .-align-center\@lg {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .-align-end\@lg {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .-self-start\@lg {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .-self-center\@lg {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
  .-self-end\@lg {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .-content-stretch\@lg {
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
  }
  .-content-start\@lg {
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
  .-content-end\@lg {
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
  }
  .-content-center\@lg {
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
  }
  .-content-between\@lg {
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
  }
  .-content-around\@lg {
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
  }
  .-no-wrap\@lg {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .-with-wrap\@lg {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .-at-first\@lg {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .-at-last\@lg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .-grow-none\@lg {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .-shrink-none\@lg {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .-grow-single\@lg {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .-shrink-single\@lg {
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
  }
  .-grow-double\@lg {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .-shrink-double\@lg {
    -webkit-flex-shrink: 2;
        -ms-flex-negative: 2;
            flex-shrink: 2;
  }
  .-dir-row\@lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .-dir-col\@lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .-dir-row-reverse\@lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .-dir-col-reverse\@lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .h-text-left\@lg {
    text-align: left;
  }
  .h-text-center\@lg {
    text-align: center;
  }
  .h-text-right\@lg {
    text-align: right;
  }
  .h-text-justify\@lg {
    text-align: justify;
  }
}
.row.-fill > .col > *,
.-fill > * {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.bold\@xs {
  font-weight: bold;
}
@media (min-width: 767px) {
  .bold\@sm {
    font-weight: bold;
  }
}
@media (min-width: 991px) {
  .bold\@md {
    font-weight: bold;
  }
}
@media (min-width: 1200px) {
  .bold\@lg {
    font-weight: bold;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .color-xs {
    color: #ffc65d;
    text-decoration: underline;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .color-sm {
    color: #ffc65d;
    text-decoration: underline;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .color-md {
    color: #ffc65d;
    text-decoration: underline;
  }
}
@media (min-width: 1200px) {
  .color-lg {
    color: #ffc65d;
    text-decoration: underline;
  }
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}
main,
li {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}
strong {
  font-weight: bold;
}
a,
button {
  color: inherit;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a {
  text-decoration: none;
}
button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
:focus {
  outline: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Monospace, sans-serif;
}
h1 {
  font-size: 48px;
  margin-bottom: 10px;
}
h2 {
  font-size: 32px;
  margin-bottom: 10px;
}
h3 {
  margin-top: 30px;
  font-size: 22px;
  margin-bottom: 10px;
}
section {
  padding: 30px 15px;
}
section.download,
section.title {
  padding: 80px 15px;
}
.section__header {
  margin-bottom: 30px;
  line-height: 1.4;
}
.color--pink {
  color: #ff007a;
}
.bg--pink {
  background-color: #ff007a;
}
.color--purple {
  color: #93648d;
}
.bg--purple {
  background-color: #93648d;
}
.color--green {
  color: #7bc8a4;
}
.bg--green {
  background-color: #7bc8a4;
}
.color--blue {
  color: #4cc3d9;
}
.bg--blue {
  background-color: #4cc3d9;
}
.color--yellow {
  color: #ffc65d;
}
.bg--yellow {
  background-color: #ffc65d;
}
.color--red {
  color: #f16745;
}
.bg--red {
  background-color: #f16745;
}
.color--black {
  color: #404040;
}
.bg--black {
  background-color: #404040;
}
.color--white {
  color: #f5f5f5;
}
.bg--white {
  background-color: #f5f5f5;
}
.color--brown {
  color: #664f36;
}
.bg--brown {
  background-color: #664f36;
}
.color--gray {
  color: #353b42;
}
.bg--gray {
  background-color: #353b42;
}
.col-content {
  width: 100%;
  min-height: 80px;
  margin-bottom: 24px;
  padding: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  word-break: break-all;
}
.col-content span {
  display: block;
  width: 100%;
}
.col-content--noalign {
  text-align: inherit;
}
.col-content--small {
  min-height: 40px;
}
.col-content--big {
  min-height: 160px;
}
.col-content--center {
  text-align: center;
}
.row-wrapper {
  padding: 15px;
  margin-bottom: 48px;
  overflow: hidden;
}
.row-wrapper .col-content {
  margin-bottom: 0;
}
.row-wrapper__title {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.row-wrapper__title--no-mg {
  margin-bottom: 0;
}
[row='vertical'],
.row--dir-col,
.row--dir-reverse-col {
  height: 400px;
}
pre {
  color: #404040;
  background-color: #f5f5f5;
  border-left: 10px solid #353b42;
  padding: 15px 10px;
  margin-bottom: 15px;
}
small {
  font-size: 12px;
}
.grid.nested .col-content {
  margin-bottom: 0;
}
.nested-col {
  padding: 15px;
}
.config__attr {
  background-color: #f5f5f5;
  padding: 15px;
  line-height: 1.2;
}
.config__attr + .config__attr {
  margin-top: 15px;
}
.config__attr-name {
  display: inline-block;
  background-color: #404040;
  color: #f5f5f5;
  padding: 5px 10px;
  margin-bottom: 4px;
}
.config__attr-default {
  display: inline-block;
  background-color: #93648d;
  color: #f5f5f5;
  padding: 5px 10px;
  margin-bottom: 4px;
}
.download-links a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f16745;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 18px;
}
.download-links a:hover {
  background-color: #93648d;
}
.row--wrapped {
  min-height: 300px;
}
.row--wrapped .col {
  margin: 15px 0;
}
