rolleiflex = {
	// Configurations
	"baseFontSize": 16px					// HTML font size, for the use.em option
	"autoBorderBox": true				// Set to false if your CSS already has something like * {box-sizing:border-box}

	// Use
	"use": {
		"em": false								// Use the em unit instead of px (true or false),
	}
	
	// Builds
	"build": {
		"container": true	    		// Should build the .container CSS?
		"responsiveText": true   	// Should build the .text-position@breakpoint CSS?
	}
	
	"classScaleDivisor": "\@"
	"classPrefix": ""

	// Columns
	"columns": 12									// Number of columns in the grid

	// Spacing
	"spaces": {
		"gutter": 24px							// Gutter size
		"containerPadding":  12px		// .container--padded padding size
	}
	
	// Breakpoint Stuff
	"breakpoints": {
		"xs": {
			"container": 100%
		}
		"sm": {
			"triggerAt": 768px			  // Breakpoint min size = @media(min-width:xxx)
			"container": 740px				// Container max-width
		}
		"md": {
			"triggerAt": 992px
			"container": 960px
		}
		"lg": {
			"triggerAt": 1201px
			"container": 1170px
		}
	}
}
