_rUnit(p)
	if(!p || unit(p) == '%')
		return p

	if(rolleiflex.use.em)
		return unit(p / rolleiflex.baseFontSize, "em")

	return unit(p,"px")

_rfDiv = unquote(rolleiflex.classScaleDivisor)
_rfPref = unquote(rolleiflex.classPrefix)
_rfColGutter = _rUnit(rolleiflex.spaces.gutter / 2)

_rMakeBreakpointHelpers(scaleName)
	// Flex element children alignment
	.-{_rfPref}justify-start{_rfDiv}{scaleName}
		justify-content: flex-start

	.-{_rfPref}justify-center{_rfDiv}{scaleName}
		justify-content: center

	.-{_rfPref}justify-end{_rfDiv}{scaleName}
		justify-content: flex-end

	.-{_rfPref}justify-around{_rfDiv}{scaleName}
		justify-content: space-around

	.-{_rfPref}justify-between{_rfDiv}{scaleName}
		justify-content: space-between

	.-{_rfPref}align-start{_rfDiv}{scaleName}
		align-items: flex-start

	.-{_rfPref}align-center{_rfDiv}{scaleName}
		align-items: center

	.-{_rfPref}align-end{_rfDiv}{scaleName}
		align-items: flex-end

	.-{_rfPref}self-start{_rfDiv}{scaleName}
		align-self: flex-start

	.-{_rfPref}self-center{_rfDiv}{scaleName}
		align-self: center

	.-{_rfPref}self-end{_rfDiv}{scaleName}
		align-self: flex-end

	// Flex element wrapped children alignment
	.-{_rfPref}content-stretch{_rfDiv}{scaleName}
		align-content: stretch

	.-{_rfPref}content-start{_rfDiv}{scaleName}
		align-content: flex-start

	.-{_rfPref}content-end{_rfDiv}{scaleName}
		align-content: flex-end

	.-{_rfPref}content-center{_rfDiv}{scaleName}
		align-content: center

	.-{_rfPref}content-between{_rfDiv}{scaleName}
		align-content: space-between

	.-{_rfPref}content-around{_rfDiv}{scaleName}
		align-content: space-around

	// Flex element children wrappning
	.-{_rfPref}no-wrap{_rfDiv}{scaleName}
		flex-wrap: nowrap

	.-{_rfPref}with-wrap{_rfDiv}{scaleName}
		flex-wrap: wrap

	// Flex element children order
	.-{_rfPref}at-first{_rfDiv}{scaleName}
		order: -1

	.-{_rfPref}at-last{_rfDiv}{scaleName}
		order: 1

	// Flex element auto sizing
	.-{_rfPref}grow-none{_rfDiv}{scaleName}
		flex-grow: 0

	.-{_rfPref}shrink-none{_rfDiv}{scaleName}
		flex-shrink: 0

	.-{_rfPref}grow-single{_rfDiv}{scaleName}
		flex-grow: 1

	.-{_rfPref}shrink-single{_rfDiv}{scaleName}
		flex-shrink: 1

	.-{_rfPref}grow-double{_rfDiv}{scaleName}
		flex-grow: 2

	.-{_rfPref}shrink-double{_rfDiv}{scaleName}
		flex-shrink: 2

	// Flex element direction
	.-{_rfPref}dir-row{_rfDiv}{scaleName}
		flex-direction: row

	.-{_rfPref}dir-col{_rfDiv}{scaleName}
		flex-direction: column

	.-{_rfPref}dir-row-reverse{_rfDiv}{scaleName}
		flex-direction: row-reverse

	.-{_rfPref}dir-col-reverse{_rfDiv}{scaleName}
		flex-direction: column-reverse

	// Text alignment helpers
	if(rolleiflex.build.responsiveText)
		for alignment in (left center right justify)
			.h-text-{alignment}{_rfDiv}{scaleName}
				text-align: alignment

_rMakeBreakpointGrid(scaleName)
	scaleName = unquote(scaleName)

	if(rolleiflex.build.container)
		containerWidth = rolleiflex.breakpoints[scaleName].container
		if(containerWidth)
			.{_rfPref}container
				width: _rUnit(containerWidth)

	// For rows
	.{_rfPref}row
		&.-{_rfPref}no-gutter{_rfDiv}{scaleName}
			margin-left: 0
			margin-right: 0

			> .{_rfPref}col
				padding-left: 0
				padding-right: 0

		&.-{_rfPref}with-gutter{_rfDiv}{scaleName}
			margin-left: -(_rfColGutter)
			margin-right: -(_rfColGutter)

			> .{_rfPref}col
				padding-left: _rfColGutter
				padding-right: _rfColGutter

	// For columns
	.-{_rfPref}size{_rfDiv}{scaleName}
		flex-basis: auto

	for col in (1..rolleiflex.columns)
		percentageWidth = round(percentage(col/rolleiflex.columns),6)
		offsetWidth = round(percentage((col - 1)/rolleiflex.columns),6)

		&.-{_rfPref}size-{col}{_rfDiv}{scaleName}
			flex-basis: percentageWidth
			max-width: percentageWidth

		&.-{_rfPref}offset-{col - 1}{_rfDiv}{scaleName}
			margin-left: offsetWidth

_rLoopBreakpoints(callbackMixin)
	for scaleName, scaleOptions in rolleiflex.breakpoints
		if(!scaleOptions.triggerAt || scaleOptions.triggerAt == 0)
			callbackMixin(scaleName)
		else
			@media (min-width: _rUnit(scaleOptions.triggerAt))
				callbackMixin(scaleName)

buildRolleiflex()
	if(rolleiflex.build.container)
		.{_rfPref}container
		.{_rfPref}container-fluid
			max-width: 100%
			margin-right: auto
			margin-left: auto
			padding-right: _rUnit(rolleiflex.spaces.containerPadding)
			padding-left: _rUnit(rolleiflex.spaces.containerPadding)
			if(rolleiflex.autoBorderBox)
				box-sizing: border-box

	.h-display-flex
		display: flex

	.{_rfPref}row
		@extend .h-display-flex

	.{_rfPref}row
	.{_rfPref}col
		if(rolleiflex.autoBorderBox)
			box-sizing: border-box

	.{_rfPref}col
		max-width: 100%
		flex: 1 1 0
		padding-right: _rfColGutter
		padding-left: _rfColGutter

	.{_rfPref}row
		flex-flow: row wrap
		margin-right: -(_rfColGutter)
		margin-left: -(_rfColGutter)

	// Builds responsive grid
	_rLoopBreakpoints(_rMakeBreakpointGrid)

	// Builds responsive helpers
	_rLoopBreakpoints(_rMakeBreakpointHelpers)

	// Generic as f*ck
	.{_rfPref}row.-{_rfPref}fill > .{_rfPref}col
	.{_rfPref}col.-{_rfPref}fill
		@extend .h-display-flex

	.{_rfPref}row.-{_rfPref}fill > .{_rfPref}col > *
	.{_rfPref}col.-{_rfPref}fill
		flex-grow: 1
