bd = unquote(rolleiflex.classScaleDivisor)

r-unit(p)
	if(rolleiflex.use.em)
		return unit(p / rolleiflex.baseFontSize, "em")
	return unit(p,"px")

r-makeBreakpointGrid(scaleName)
	scaleName = unquote(scaleName)
	isFirstBP = rolleiflex.breakpoints[scaleName].breakpoint == 0

	/* Text alignment helpers */
	if(rolleiflex.build.responsiveText)
		for alignment in (left center right justify)
			.h-text-{alignment}{bd}{scaleName}
				text-align: alignment

	.row
		&.-no-wrap{bd}{scaleName}
			flex-wrap nowrap

		&.-align-start{bd}{scaleName}
			justify-content flex-start

		&.-align-center{bd}{scaleName}
			justify-content center

		&.-align-end{bd}{scaleName}
			justify-content flex-end

		&.-position-top{bd}{scaleName}
			align-items flex-start

		&.-position-bottom{bd}{scaleName}
			align-items flex-end

		&.-position-middle{bd}{scaleName}
			align-items center

		&.-space-around{bd}{scaleName}
			justify-content space-around

		&.-space-between{bd}{scaleName}
			justify-content space-between

		&.-no-gutter{bd}{scaleName}
			margin-left 0
			margin-right 0

			> .col
				padding-left 0
				padding-right 0

	.col
		&.-size{bd}{scaleName}
			flex 1 1 auto

		&.-first{bd}{scaleName}
			order -1

		&.-last{bd}{scaleName}
			order 1

		&.-position-start{bd}{scaleName}
			align-self flex-start

		&.-position-middle{bd}{scaleName}
			align-self center

		&.-position-end{bd}{scaleName}
			align-self flex-end

		for col in (1..rolleiflex.columns)
			percentageWidth = round(percentage(col/rolleiflex.columns),6)
			offsetWidth = round(percentage((col - 1)/rolleiflex.columns),6)

			&.-size-{col}{bd}{scaleName}
				flex-basis: percentageWidth
				max-width: percentageWidth

			&.-offset-{col - 1}{bd}{scaleName}
				margin-left: offsetWidth

			if(rolleiflex.build.verticalGrid)
				.row.-vertical &
					&.-size-{col}{bd}{scaleName}
						max-height percentageWidth
						max-width initial

					&.-offset-{col - 1}{bd}{scaleName}
						margin-left initial
						margin-top: offsetWidth

buildRolleiflexGrid()
	if(rolleiflex.build.container)
		.container
		.container-fluid
			max-width 100%
			margin-right auto
			margin-left auto
			padding-right: r-unit(rolleiflex.spaces.containerPadding)
			padding-left: r-unit(rolleiflex.spaces.containerPadding)

	.row
	.col
		display flex
		if(rolleiflex.autoBorderBox)
			box-sizing border-box
			
	.col
		flex-flow column nowrap
		padding-right: r-unit(rolleiflex.spaces.gutter / 2)
		padding-left: r-unit(rolleiflex.spaces.gutter / 2)
		flex 1 1 100%
		max-width 100%

	.row
		flex 1 1
		flex-flow row wrap
		margin-right: -(r-unit(rolleiflex.spaces.gutter / 2))
		margin-left: -(r-unit(rolleiflex.spaces.gutter / 2))

		&.-reverse
			flex-direction row-reverse

		if(rolleiflex.build.verticalGrid)
			&.-vertical
				margin-left initial
				margin-right initial
				margin-top: -(r-unit(rolleiflex.spaces.gutter / 2))
				margin-bottom: -(r-unit(rolleiflex.spaces.gutter / 2))
				flex-direction column

				> .col
						padding-left initial
						padding-right initial
						padding-top: r-unit(rolleiflex.spaces.gutter / 2)
						padding-bottom: r-unit(rolleiflex.spaces.gutter / 2)

				&.-reverse
					flex-direction column-reverse


		.row.-fill > .col > *
		.col.-fill > *
			flex-grow 1

	for scaleName, scaleOptions in rolleiflex.breakpoints
		
		if(scaleOptions.breakpoint == 0)
			r-makeBreakpointGrid(scaleName)
			
		else
		
			@media (min-width: r-unit(scaleOptions.breakpoint))

				if(rolleiflex.build.container)
					.container
						width: r-unit(scaleOptions.container)

				r-makeBreakpointGrid(scaleName)
